/* Start main Rules */

.container {
       width: 1170px;
       margin: auto;
}

.clearfix  {
    clear: both;
}

/* End Main Rules */

/* Start Navbar */

.navbar {
    background-color: #283233;
    color: #FFF;
    overflow: hidden;
}

.navbar h2 {
    float: left;
}

.navbar h2 span {
    color: #00CF71;
}

.navbar ul {
    list-style: none;
    float: right;
}

.navbar ul li {
    float: left;
    padding: 10px;
}

.navbar ul li a {
    color: #FFF;
    text-decoration: none;
}

.navbar ul li.active a,
.navbar ul li a:hover {
    color: #00CF71;
}

/* End Navbar */

/* Start About Me */

.about-me {
    padding-top: 30px;
    padding-bottom: 50px;
    text-align: center;
}

.about-me q {
    color: #777;
    font: italic bold 18px/1.8 Arial
}

.about-me h2 {
    color: #555;
    margin-bottom: 20px;
}
/* End About Me */

/* Start Personal Info */

.personal {background-color: #F2F2F2;overflow: hidden;}

.personal .image {float: left;width: 40%;}

.personal .image img {width: 100%;}

.personal .info {float: left;width: 60%;}

.personal .info h2 {margin:  25px 0  20px 40px;color: #555;}

.personal .info > p {margin: 0 0 10px 40px;}

.personal .info > p:last-of-type {margin-top: 25px }

.personal .info  p {line-height: 1.6;color: #666; }

.personal  .info  .life {margin: 15px 0 0 40px;}

.personal .info .life .content {float: left;width: 50%; }

.personal  .info  .life .content .icon {float: left;width: 12%;margin-right: 5%;}

.personal  .info  .life .content .icon img {max-width: 100%;margin: 30px 10px 0 0;}

.personal  .info  .life .content .text p {margin-top: 0;}

.personal  .info  .life .content .text h3 {margin-bottom: 5px;color: #555;}

/* End Personal Info */

/* Start My Skills */

.my-skills {
    padding-top: 30px;
    padding-bottom: 20px;
}

.my-skills  .skills,
.my-skills  .progress {
    width: 50%;
    float: left;
    margin-bottom: 50px;
}

.my-skills .skills h2 {
    font-size: 30px;
    margin:  25px 0  20px 40px;
    color: #555;
}

.my-skills .skills p {
    margin: 25px 0 10px 40px;
    line-height: 1.6;
    color: #666;
}

.my-skills .skills  p:last-of-type {
    margin-top: 25px;
}

.my-skills .progress .tech{
    margin-left: 50px;
}

.my-skills .progress .tech h3 {
    color: #555;
}

.my-skills .progress .tech div {
    background-color: #F2F2F2;
    height: 25px;
}

.my-skills .progress .tech div span {
    background-color: #2DCC70;
    height: 25px;
    display: block;
    line-height: 25px;
    text-align: right;
    color: #FFF;
    font-weight: bold;
}

/* End My Skills */


/* Start My Education */

.my-education {
    background-color: #F2F2F2;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.my-education  h2 {
    font-size: 30px;
    margin:  0 0  0 40px;
    color: #555;
}

.my-education .main {
    width: 45%;
    margin-right: 5%;
    float: left;
}

.my-education  h3 {
    margin-top: 60px;
    margin-bottom: 8px;
    color: #333;
}

.my-education  p {
    line-height: 1.7;
    color: #555;
}

.my-education  span  {
    display: block;
    margin-bottom: 10px;
    color: #444;
}

.my-education  span:last-of-type {
    background-color: #2DCC70;
    color: #FFF;
    display: inline-block;
    padding: 4px 10px;
}

.my-education  .exp {
    width: 45%;
    float: left;
}


/* End My Education */

/* Start Work Experience */

.work {
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: hidden;
}

.work  h2 {
    font-size: 30px;
    margin:  0 0  0 40px;
    color: #555;
}

.work .main {
    width: 45%;
    margin-right: 5%;
    float: left;
}

.work  h3 {
    margin-top: 60px;
    margin-bottom: 8px;
    color: #444;
}

.work  p {
    line-height: 1.7;
    color: #555;
}

.work  span {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.work  span:last-of-type {
    background-color: #2DCC70;
    color: #FFF;
    display: inline-block;
    padding: 4px 10px;
}

.work  .exp { 
    width: 45%;
    float: left;
}

/* End Work Experience */


/* Start Footer */

.footer {
    background-color: #191E22;
    color: #6A6E71;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
}

.footer span {
    float: left;
}

.footer ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    float: right;
}

.footer ul li {
    display: inline-block;
}

.footer ul li img {
    width: 24px;
}

/*End Footer */
