
/* Start header */

header {
    background-color: #990033;
    color:#FFFFFF;
    font-size: 2.3rem;
    text-align: center;
    padding: 10px;
}

/* End header */

/* main rules */

body {
    margin: 0;
    background-color: #666633; 
}

#grid-floats .grid-item {
    float: left;
}

#grid-flex {
    display: flex;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: 1.7em;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: brown;
    background-color: #CCCC99;
    padding: 20px;
    margin: 0 0 30px 0;
    clear: both;
}

li {
    list-style: none;
    text-align: center;
    background-color: #CCCC99;
    margin: 0em 3em 2em 0em; 
}

h3 {
    background-color: #990033;
    color: #FFFFFF;
    margin: 0;
    padding: 12px;
}

img {
    margin: 12px;
}

p {
    line-height: 1.4em;
    margin: 0 4px 0 4px;   
}

/* End main rules */

/* Start computer Screen */ 

@media (min-width: 1200px) {

    li:first-of-type {
        width: 43.2%;
    }

    li:first-of-type img {
        width: 50%;
    }

    li:first-of-type p {
        font-size: 18px;
    }

    li {
        width: 20%;
        height: 400px;
    }

    li img {
        width: 200px;
    }

    li p {
        font-size: 1.1vw;
    }
}

/* End computer Screen */

/* Start Tablet Screen */

@media (min-width: 768px) and (max-width: 1199px) {

    li:nth-of-type(-n+2) {
        width: 40%;
    }
    
    li:nth-of-type(-n+2) img {
        width: 50%;
    }
    
    li:nth-of-type(-n+2) p {
        font-size: 14px;
    }

    li {
        width: 25%;
        height: 300px;
    }
    
    li img {
        width: 100px;
    }

    li p {
        font-size: 12px;
    }
}  

/* End Tablet Screen */

/* Start Phone Screen */

@media  (max-width: 767px) {

    li:first-of-type {
        width: 83%;
    }
    
    li:first-of-type img {
        width: 40%;
    }
    
    li:first-of-type p {
        font-size: 15px;
    }

    li {
        width: 37%;
        height: 300px;
    }
    
    li img {
        width: 100px;
    }

    li p {
        font-size: 12px;
    }
}  

/* End Phone Screen */